@use "../../assets/styles/variables";

.header {
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
}
.logoLink {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: aquamarine;
  }
  img {
    height: 52px;
    margin-right: 12px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: none;

  @media (min-width: variables.$lg) {
    display: block;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        padding: 0 12px;
        a {
          color: #fff;
          &:hover {
            text-decoration: underline;
            color: aquamarine;
          }
        }
      }
    }
  }
}

.DropdownMenu{
    @media (min-width: variables.$lg) {
        display: none;
    }
}

.mobileMenu{
    ul{
        margin:0;
        padding: 0;
        li{
            background-color: variables.$primary;
            margin:1px 0;
            padding: 8px;
            a{
                color:#fff;
            }
        }
    }
}
