// @import '@radix-ui/colors/blackA.css';
// @import '@radix-ui/colors/mauve.css';
// @import '@radix-ui/colors/violet.css';
@use '../../assets/styles/variables' as *;
/* reset */

.IconButton {
  all: unset;
  font-family: inherit;
  border-radius: 8px;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  background-color: white;
  box-shadow: 0 2px 10px $primary;
}
.IconButton:hover {
  box-shadow: 0 0px 10px 2px $primary;
}
.IconButton:focus {
  box-shadow: 0 0 0 2px $primary;
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  min-width: 220px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}
