@use '../../assets/styles/vars';

.toggle{
    color: var(--body-color);

    width: 32px;
    height: 32px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left:auto;

    opacity: 0.7;
    transition: opacity 0.5s;

    @media (min-width: vars.$bp-sm) {
        margin-left: initial;
    }

}
.toggle:hover{
    opacity: 1;
}