@use "./normalize.css";
@use "./defaults.css";

@use "./_variables";
@import "./_layout";
@import "./_typo";

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}
body {
  color: variables.$text-color;
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: variables.$font-arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:scroll;
  overflow-x: hidden;
}


// @media (max-width: variables.$sm-bp){
//   .container{
//     background-color: red;
//   }
// }

