@value bp-sm: 576px;
/* // $bp-sm-bp: calc($bp-sm - 0.02px);
/*
// $bp-container-sm: 540px; */

/* @value bp-md: 768px;
@value bp-lg: 992px;
@value bp-xl: 1200px;
@value bp-xxl: 1400px;  */

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 32px;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: bp-sm) {
  .container-sm,
  .container {
    max-width: calc(bp-sm - 40px);
  }
}
/* 

@media (min-width: vars.$bp-md) {
  .container-md,
  .container-sm,
  .container {
    max-width: calc(vars.$bp-md - 40px);
  }
}

@media (min-width: vars.$bp-lg) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: calc(vars.$bp-lg - 60px);
  }
}

@media (min-width: vars.$bp-xl) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: calc(vars.$bp-xl - 80px);
  }
}

@media (min-width: vars.$bp-xxl) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: calc(vars.$bp-xxl - 80px);
  }
}

.list-reset{
    margin:0;
    padding: 0;
    list-style: none;
} */
