@use "../../assets/styles/vars";


.header {
  padding: 8px 0;
  top: -100%;
  position: sticky;

  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  background-color: var(--body-bg-color);

  @media (min-width: vars.$bp-md) {
    padding: 16px 0;
  }
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container > *{
  order:3;
}
.header a{
    color: var(--body-color);
}

.sticky {
  composes: header;
  top: 0;
}
