.header {
  padding-top: 8px;
  top: -100%;
  position: sticky;

  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  background-color: var(--body-bg-color);

  
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container > *{
  order:3;
}
.header a{
    color: var(--body-color);
}

.sticky {
  composes: header;
  top: 0;
}
